@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.wrapper{
  width: 600px; 
  background-color:#F1F8E8;
  border-radius: 15px;
  gap: 20px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 25px; 
}

.wrapper > header {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
  color:  #219C90;

}

.wrapper header > i {
  font-size: 35px;
}

.wrapper header > h1 {
  font-size:25px;
}


.wrapper form {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;

}
.wrapper form input {
  border-radius: 5px;
  padding: 10px;
  border: 2px solid #B4D6CD;
  font-weight: 600;
 
}

.wrapper form button {
  background-color:#B4D6CD;
  border-radius: 5px;
  padding: 10px;
  border: 2px solid #219C90;
  color: #219C90;
  font-weight: 600;
  cursor: pointer;
}


.wrapper table {
  margin: 0 auto;
}

table th {
  color: #219C90;
  padding: 10px;
  border-bottom: 1px solid #219C90 ;
  
}

table td {
  text-align: center;
  padding: 10px;
  border-bottom: 0.5px solid #B4D6CD ;

}

@media(max-width:360px){

  body {
    height: 60vh;
    background-color:#B4D6CD
  }

  .container{

    width: 100%;
    padding: 15px;
    border-radius: 20px;
    align-items: center;  
  }


 form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
 }

}




